*{
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
}

body{
    background-color: #707070;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

form{
    background-color: aqua;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1000px;
    margin: 30px 0;
    padding: 20px;
}

h2{
    padding: 10px 0 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 25px;
    font-weight: 700;
}

label{
    font-family:'Courier New', Courier, monospace;
    font-size: 20px;
    font-weight: 300;
}

input{
    outline: none;
    padding: 5px;
    margin: 3px;
    border-radius: 5px;
    border: none;
    border: 1px solid black;
    font-size: 20px;
}

textarea{
    outline: none;
    padding: 5px;
    margin: 3px;
    border-radius: 5px;
    border: none;
    border: 1px solid black;
    font-size: 20px;
    height: 100px;

}

.formule{
    position: relative;
    bottom: 50px;
}

.result{
    background-color: green;
    height: 50px;
    font-size: 30px;
    text-align: center;
    font-weight: bold;
    padding: 10px 10px 10px 10px;
}

input:hover, textarea:hover, .result:hover{
    color:green;
    background-color: #EDF;
    font-weight: bold;
    cursor: pointer;
}